<% include ../partials/head %>

<h1>show comments</h1>
<h1><%= comments[0].anime_title %></h1>
  <% comments.forEach( comment => { %>
    <h2><%= comment.anime_id %></h2>
    <h2><%= comment.comment %></h2>
    <form action='?_method=delete' method='post'>
      <input type="hidden" name="id" value="<%= comment.id %>">
      <input type='submit' value='Delete'>
    </form>
  <% }) %>

<form action="/show/<%= comments[0].anime_id %>/comment" method="post">
  <textarea name="comment" rows="10" cols="100"></textarea>
  <input type="hidden" name="anime_id" value="<%= comments[0].anime_id %>">
  <input type="hidden" name="user_id" value="<%= comments[0].user_id %>">
  <input type="submit">
</form>


<% include ../partials/foot %>