<% include ../partials/head %>

<h1>show comments</h1>
  <% comments.forEach( comment => { %>
    <h2><%= comment.anime_id %></h2>
    <h2><%= comment.comment %></h2>
  <% }) %>

<form action="/<%= comment.anime_id %>/comment" method="post">
  <textarea name="comment" rows="10" cols="10"></textarea>
  <input type="hidden" name="anime_id" value="<%= comment.anime_id %>">
  <input type="hidden" name="user_id" value="<%= comment.user_id %>">
  <input type="submit">
</form>


<% include ../partials/foot %>