<% include ../partials/head %>

<h1>Search Query Results</h1>

<div class="anime_container_search">
  <% anime.data.forEach(show => { %>
    <div class="anime_search">
      <div class="anime_en_title"><%= show.attributes.titles.en %></div>
      <div class="anime_jp_title"><%= show.attributes.titles.ja_jp %></div>
      <div class="anime_image_search"><img src="<%= show.attributes.posterImage.medium%>" alt=""></div>
      <div class="anime_description"><%= show.attributes.synopsis %></div>
      <div class="anime_footer">
        <a class="anime_link_search" href="show/<%= show.id%>">Link to show</a>
        <form action="user/favorites" method="post" class="anime_form_fave" >
          <input name="anime_id" value="<%= show.id %>" type="hidden">
          <input type="submit"  id="">
        </form>
      </div>
    </div>
  <% })%>
</div>

<% include ../partials/foot %>

